span{
    display:inline-block;
    background:linear-gradient(to top, blue,purple);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
:root{
    --header:#17143A;

}

body{

    background-color: var(--header);
    color:white;
    font-family:'Playfair';
}
.container_grid{
    display:grid;
    column-gap: 20%;
    row-gap:50%;
    grid-template-columns: 20% 20%;
    justify-content: center;
}
p{
    text-align:justify;
}
.card:hover p, .card:hover h5{
    
    background:linear-gradient(to top, blue,purple);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header {
    width: 50%;
    margin: auto;
    display: flex;
    top: 0;
}

header img {
    width: 35%;
}

header nav{
    display:flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

header nav input {
    height: min-content;
    width: max-content;
    border-radius: 20px;
}