@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;700&display=swap');

span{
    display:inline-block;
    background:linear-gradient(to top, blue,purple);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
:root{
    --header:#17143A;

}

body{

    background-color: var(--header);
    color:white;
    font-family:'Playfair';
    background-image: url("images/bg.png");

    background-repeat: no-repeat;    
}
.container_grid{
    display:grid;
    column-gap: 20%;
    row-gap:50%;
    grid-template-columns: 20% 20%;
    justify-content: center;
}
p{
    font-family: 'Roboto Flex';
    text-align:justify;
}
.card:hover p, .card:hover h5{
    
    background:linear-gradient(to top, blue,purple);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header {
    width: 50%;
    margin: auto;
    display: flex;
    top: 0;
}

header img {
    width: 35%;
}

header nav{
    display:flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

header nav a {
    background-color: gray;
    height: min-content;
    width: max-content;
    border-radius: 20px;
    text-decoration: none;
    padding:10px;
    color:black;
}
header nav a:hover{
    background-color: rgb(112, 111, 111);
}
header nav a:active{
    background-color: rgb(100, 99, 99);
}